In [26]:
import pandas as pd
import numpy  as np
from sklearn.model_selection import train_test_split
np.random.seed(7)
pd.set_option("max_rows",    None)
pd.set_option("max_columns", None)

# 读入数据

[数据介绍](https://www.kaggle.com/uciml/default-of-credit-card-clients-dataset)

In [25]:
dataset = pd.read_csv("../UCI_Credit_Card.csv")

In [14]:
dataset.shape

(30000, 25)

In [13]:
dataset.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

# 数据整理

* 分类变量：cat_columns
* 数值变量：num_columns

In [29]:
cat_columns = ["SEX", "EDUCATION", "MARRIAGE"]
num_columns = ["LIMIT_BAL", "AGE", "PAY_0", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6", 
               "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6",
               "PAY_AMT1", "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6"]

In [30]:
target = "default.payment.next.month"

* 分类变量需要使用 "missing" 填充
* 数值变量需要使用 -999999.0 填充

In [31]:
dataset[cat_columns].fillna("missing", inplace=True)
dataset[num_columns].fillna(-999999.0, inplace=True)

In [32]:
train_x, test_x, train_y, test_y = train_test_split(
    dataset.drop(["ID", target], axis=1), dataset[target], train_size=0.75, shuffle=True, random_state=7)

# 模型训练

## 特征分箱